* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100%;
  color: #666;
  font-family: "Lato", sans-serif;
  line-height: 1.8em;
  font-weight: 400;
  background-color: rgb(18, 20, 37);
}

.pimg1,
.pimg2,
.pimg3 {
  opacity: 0.7;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pimg1 {
  background-image: url("https://images.pexels.com/photos/5483077/pexels-photo-5483077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 100vh;
}
.pimg2 {
  background-image: url("https://images.pexels.com/photos/2356045/pexels-photo-2356045.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  min-height: 400px;
}
.pimg3 {
  background-image: url("https://images.pexels.com/photos/3947403/pexels-photo-3947403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  min-height: 400px;
}
.ptext {
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 27px;

  color: #f4f4f4;
  width: 100%;
  text-align: center;
}

.ptext span {
  padding: 20px;
  width: auto;
  text-align: center;
}
.title span {
  background-color: rgb(44, 44, 44);
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section h2 {
  margin-bottom: 30px;
}

.section-light {
  background-color: #f4f4f4;
  color: #282e34;
}
.section-dark {
  background-color: #282e34;
  color: #f4f4f4;
}

hr {
  width: 150px;
  border: 2px solid #e76f51;
  margin-left: auto;
  margin-right: auto;
}

.pimg2 hr {
  width: 150px;
}

.pimg3 hr {
  width: 350px;
}
